[Desktop Entry]
Name=Deutschlandfunk Radio
GenericName=Deutschlandfunk Client
Comment=Listen to Deutschlandfunk live radio and its podcasts
Categories=Audio;
Exec=com.github.keyndin.dlr
Icon=com.github.keyndin.dlr
Terminal=false
Type=Application
Keywords=dlf;radio;deutschlandfunk;dlr
X-GNOME-UsesNotifications=true