[Desktop Entry]
Name=Aircheck
GenericName=Deutschlandfunk Client
Comment=Listen to Deutschlandfunk live radio and its podcasts
Categories=Audio;Video;AudioVideo;
Exec=com.github.keyndin.dlr
Icon=com.github.keyndin.dlr
Terminal=false
Type=Application
Keywords=dlf;radio;deutschlandfunk;dlr;deutschlandradio
X-GNOME-UsesNotifications=true
Actions=DLR;Nova;Kultur

[Desktop Action DLR]
Name=Deutschlandfunk
Exec=com.github.keyndin.dlr --dlr
Icon=media-playback-start-symbolic

[Desktop Action Nova]
Name=Deutschlandfunk Nova
Exec=com.github.keyndin.dlr --nova
Icon=media-playback-start-symbolic

[Desktop Action Kultur]
Name=Deutschlandfunk Kultur
Exec=com.github.keyndin.dlr --kultur
Icon=media-playback-start-symbolic